@theme default {

    --font-heading: 'M PLUS Rounded 1c', sans-serif;

    /* ! CLAMP */
    --text-32-16: clamp(1rem, 0.722rem + 1.39vw, 2rem);
    --text-md-34-28: clamp(1.75rem, 1.427rem + 0.67vw, 2.125rem);
    --text-55-20: clamp(1.25rem, 0.728rem + 2.61vw, 3.438rem);
    --text-80-16: clamp(1rem, -0.455rem + 7.27vw, 5rem);

    /*! BREAKPOINTS */
    --breakpoint-sm: 29.9988rem;
    /* 479.9808px */
    --breakpoint-md: 47.9988rem;
    /* 767.98px */
    --breakpoint-lg: 61.9988rem;
    /* 991.98px */
    --breakpoint-xl: 105.6238rem;
    /*! 1689.98px */

    /* ! colors */
    --color-blue: blue;
    --color-black: #000;
    --color-red: red;
    --color-green: green;
}