@import './base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

img {
    max-width: 100px;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 32px;

    li {
        list-style: none;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
}