.container {
    max-width: 700px;
    margin: 0 auto;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.task {
    padding: 20px 30px;
    font-size: 24px;
    background-color: grey;
    border-radius: 16px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.red {
    background-color: red;
}

.task:hover {
    color: #000;
}

h1 {
    text-align: center;
}